*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    cursor: default;
    user-select: none;
    transition: 200ms;
}
body{
    overflow: hidden;
    font-family: sans-serif;
}
.Nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    overflow: hidden;
   
   
}
.logo{
    width: 40px;
}
ul li{
    list-style: none;
}
.links-PC{
    display: flex;
    gap: 20px;
    font-size: 18px;
    transform: translateY(-100px);
}
.links-PC li{
    cursor: pointer;
}
.links-PC li:hover{
    color: #5956E9;
    transform: translateY(-3px);

}
.mobileBtn{
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    width: 40px;
    
}
.mobileMenu{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: fit;
    padding: 20px;
    background: #5956E9;
     
}
.mobileMenu li{
    margin: 5px 0px;
    color: white;
} 


/* content */
.container{
    padding: 100px 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
}
/* .container .text{
    background-color: aqua;
} */
.container .text h1{
    font-size:50px ;
    color: #302f2f;
}
.container .text p{
    color: gray;
    max-width: 500px;
    margin: 20px 0;
    padding: 3px;
}
.container .text a{
    display: block;
    background-color: #5956E9;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 7px;
    border: 2px solid #5956E9;
    cursor: pointer;
}
.container .text a:hover{
    background-color: white;
    color: #5956E9;
}


.img{
    max-width: 350px;   
}
img{
    width: 100%;
}




@media screen and (min-width: 1024px) {
    .links-PC{
        transform: translateY(0px);
    
    }
    .mobileBtn{
        display: none;

    }
    .mobileMenu{   
        display: none;
    }
    
    .Nav{
        justify-content: space-evenly;
        
    }
}
@media screen and (min-width: 1567px) {
}

@media screen and (max-width:992px){
    .container {
        flex-direction: column;
        gap: 60px ;
        justify-content: space-evenly;
    }
    .container *{
        text-align: center;
    } 
    .container .text a{
        margin: auto;
    }
}
@media screen and (max-width:675px){
    .container .text h1{
        font-size: 40px;
        margin-top: 50px;
    }
    .container .text p{
        max-width: 430px;
    }
}
@media screen and (max-width:500px){
    .container .text h1{
        font-size: 32px;
    }
    .container{
        padding: 100px 20px;
    }
}
@media screen and (max-width:410px){
    .container .text h1{
        font-size: 30px;
    }
}

@media screen and (max-width:355px){
    .container{
        padding: 100px 20px;
    }
    .container .text h1{
        font-size: 25px;
    }
}
@media screen and (max-height:725px){
    .container .text h1{
        font-size: 35px;
        margin-top: 0;
    }
}
@media screen and (max-height:670px){
    .container .text h1{
        font-size:25px ;
    }
    .img{
        max-width: 300px;   
    }
}




.mobileMenu{
    display: none;
}

